<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <%- include ('../../partials/nav') %>
    <section class="my-5">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <a class="btn btn-info" href="/product">Back to listing</a>
            <% if (product) { %>
            <h2 class="card-title" style="text-decoration: underline">
              DETAIL OF: <%= product[0].name %>
            </h2>
            <% }%> <% if (message) { %>
            <div class="alert alert-danger">
              <pre style="color: red"><%= message %></pre>
            </div>
            <% } %> <% if (product) { %>
            <h3>NAME: <%= product[0].name %></h3>
            <h4>CATEGORY: <%= product[0].category %></h4>
            <h4>BRAND: <%= product[0].brand %></h4>
            <p>DESCRIPTION: <%= product[0].description %></p>
            <% } %>
          </div>
        </div>
      </div>
    </section>
    <%- include ('../../partials/footer') %>
  </body>
</html>
