<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <%- include ('../../partials/nav') %>
    <section class="my-5">
      <div class="container">
        <h1>EDIT PRODUCT</h1>
        <form method="POST" action="/product/<%= product[0].code %>">
          <div class="form-group">
            <label for="code">Code</label>
            <input
              type="text"
              class="form-control"
              id="code"
              name="code"
              placeholder="Enter product code"
              value="<%= product[0].code %>"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter product name"
              value="<%= product[0].name %>"
            />
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input
              type="text"
              class="form-control"
              id="category"
              name="category"
              placeholder="Enter product category"
              value="<%= product[0].category %>"
            />
          </div>
          <div class="form-group">
            <label for="brand">Brand</label>
            <input
              type="text"
              class="form-control"
              id="brand"
              name="brand"
              placeholder="Enter product brand"
              value="<%= product[0].brand %>"
            />
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input
              type="text"
              class="form-control"
              id="type"
              name="type"
              placeholder="Enter product type"
              value="<%= product[0].brand %>"
            />
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <%# Đế ý thuộc tính: name="content" (phải có)%>
            <textarea
              class="form-control"
              id="description"
              name="description"
              placeholder="Enter product description"
              rows="5"
              cols="33"
            >
<%= product[0].description %>
            </textarea>
          </div>

          <button type="submit" class="btn btn-primary">Edit</button>
        </form>
      </div>
    </section>
    <%- include ('../../partials/footer') %>
  </body>
</html>
