<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <%- include ('../../partials/nav') %>
    <section class="my-5">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Products</h2>
            <a class="btn btn-info" href="/product/create"
              >Create New Product</a
            >
            <% if (message) { %>
            <div class="alert alert-danger">
              <pre style="color: red"><%= message %></pre>
            </div>
            <% } %>
          </div>
          <div class="card-body">
            <% if (products.length > 0) { %>
            <table style="text-align: center">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Brand</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < products.length; i++) { %>
                <tr>
                  <td align="center"><%= products[i].id %></td>
                  <td>
                    <a href="/product/<%= products[i].code %>/edit"
                      ><%= products[i].code %></a
                    >
                  </td>
                  <td><%= products[i].name %></td>
                  <td><%= products[i].category %></td>
                  <td><%= products[i].brand %></td>
                  <td><%= products[i].type %></td>
                  <td><%= products[i].description %></td>
                  <td><a href="/product/<%= products[i].code %>">Detail</a></td>
                  <td>
                    <!-- <a href="/product/<%= products[i].code %>/delete">Delete</a> -->
                    <form
                      method="POST"
                      action="/product/<%= products[i].code %>/delete"
                    >
                      <!-- Are you sure to delete this product:
                      <strong><%= products[i].name%></strong> ? -->
                      <button type="submit" class="btn btn-primary">
                        Delete
                      </button>
                    </form>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } %>
          </div>
        </div>

        <div class="row">
          <!-- hiển thị phân trang nếu có trang -->
          <% if(pages > 0) { %>
          <nav class="mx-auto">
            <ul class="pagination" style="margin-top: 2rem">
              <!-- FIRST ITEM -->
              <% if(current == 1) { %>

              <li class="page-item disabled">
                <a class="page-link" href="/product">First</a>
              </li>
              <% } else { %>

              <li class="page-item">
                <a class="page-link" href="/product">First</a>
              </li>
              <% } %>

              <!-- ITEMS  -->
              <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> <%
              if(i !== 1) { %>
              <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
              </li>
              <% } %> <% for(; i <= (Number(current) + 2) && i <= pages; i++) {
              %> <% if(i == current) { %>
              <li class="page-item active">
                <a class="page-link" href="/product/<%= i %>/"> <%= i %> </a>
              </li>
              <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/product/<%= i %>/"> <%= i %> </a>
              </li>
              <% } %> <% if (i == Number(current) + 2 && i < pages) { %>
              <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
              </li>
              <% } %> <% } %>

              <!-- LAST ITEM -->
              <% if(current == pages) { %>

              <li class="page-item disabled">
                <a class="page-link" href="#"> Last </a>
              </li>
              <% } else { %>

              <li class="page-item">
                <a class="page-link" href="/product/<%= pages %>/"> Last </a>
              </li>
              <% } %>
            </ul>
          </nav>
          <% } %>
        </div>
      </div>
    </section>
    <%- include ('../../partials/footer') %>
    <script>
      $(document).ready(function () {
        $('#mnuProduct').addClass('active');
      });
    </script>
  </body>
</html>
